cpymad==1.15.0
cuda-python==12.3.0
cupy-cuda11x==13.0.0
matplotlib==3.8.2
NAFFlib==1.0.2
numba==0.59.0
numpy==1.26.4
pandas==2.2.0
pyarrow==15.0.1
scipy==1.12.0
xdeps==0.6.1
xfields==0.18.0
xobjects==0.4.1
xpart==0.18.4
xsuite==0.13.0
xtrack==0.62.0

